<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="PronkoAuthorizenetFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">pronko_authorizenet</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">PronkoAuthorizenetConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">PronkoAuthorizenetValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PronkoAuthorizenetCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PronkoAuthorizenetValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PronkoAuthorizenetConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PronkoAuthorizenetConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Pronko\Authorizenet\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="Pronko\Authorizenet\Gateway\Config\Config" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">pronko_authorizenet</argument>
        </arguments>
    </virtualType>

    <virtualType name="PronkoAuthorizenetCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
                <item name="capture" xsi:type="string">PronkoAuthorizenetChargeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PronkoAuthorizenetChargeTransactionBuilder" type="\Pronko\Authorizenet\Gateway\Request\RequestBuilder">
        <arguments>
            <argument name="builder" xsi:type="object">PronkoAuthorizenetChargeBuilderComposite</argument>
        </arguments>
    </virtualType>

    <virtualType name="PronkoAuthorizenetChargeBuilderComposite" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="charge" xsi:type="string">Pronko\Authorizenet\Gateway\Request\Builder\Charge</item>
                <item name="payment" xsi:type="string">Pronko\Authorizenet\Gateway\Request\Builder\Payment</item>
                <item name="productItems" xsi:type="string">Pronko\Authorizenet\Gateway\Request\Builder\ProductItems</item>
                <item name="totals" xsi:type="string">Pronko\Authorizenet\Gateway\Request\Builder\Totals</item>
                <item name="address" xsi:type="string">Pronko\Authorizenet\Gateway\Request\Builder\Address</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PronkoAuthorizenetChargeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PronkoAuthorizenetChargeTransactionBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Pronko\Authorizenet\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Pronko\Authorizenet\Gateway\Http\Client</argument>
            <argument name="handler" xsi:type="object">PronkoAuthorizenetChargeHandler</argument>
        </arguments>
    </virtualType>

    <type name="Pronko\Authorizenet\Gateway\Http\Client">
        <arguments>
            <argument name="logger" xsi:type="object">PronkoAuthorizenetLogger</argument>
            <argument name="converter" xsi:type="object">Pronko\Authorizenet\Gateway\Converter\JsonToArray</argument>
        </arguments>
    </type>

    <virtualType name="PronkoAuthorizenetLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">Pronko\Authorizenet\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="Pronko\Authorizenet\Gateway\Converter\JsonToArray">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>

    <type name="Pronko\Authorizenet\Gateway\Converter\Converter">
        <arguments>
            <argument name="converter" xsi:type="object">Pronko\Authorizenet\Gateway\Converter\ArrayToJson</argument>
        </arguments>
    </type>

    <virtualType name="PronkoAuthorizenetChargeHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_details" xsi:type="string">Pronko\Authorizenet\Gateway\Response\PaymentDetailsHandler</item>
                <item name="transaction_details" xsi:type="string">Pronko\Authorizenet\Gateway\Response\TransactionAdditionalInfoHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PronkoAuthorizenetConfigurableInfo" type="Magento\Payment\Block\ConfigurableInfo">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="methodCode" xsi:type="string">pronko_authorizenet</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Pronko\Authorizenet\Gateway\Config">
        <arguments>
            <argument name="valueHandlerPool" xsi:type="object">PronkoAuthorizenetValueHandlerPool</argument>
        </arguments>
    </type>
</config>
